*{
	/*background-image: url(../img/bg.jpg);*/
	background-color: #fff;
}

.search-box{
	margin-top: 100px;
}

#logo{
	margin: 0 auto;
}

#logo div{
	margin: 0 auto;
	width: 350px;
}

#img{
	width: 350px;
}

.submitButton{
	height: 39.8px;
	width: 12%;
	float: right;
	z-index: 1;
	position: relative;
	font-size: inherit;
	font-family: inherit;
	color: white;
	padding: 0;
	outline: none;
	border: none;
	background-color: hsl(236, 32%, 26%);
	overflow: hidden;
	transition: color 0.4s ease-in-out;
}
.submitButton::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: coral;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.submitButton:hover {
  cursor: pointer;
  color: #161616;
}

.submitButton:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}


/*搜索框*/
.inputDiv {
	margin-top: 20px;
  	position: relative;
  	margin-left: 20px;
  	margin-right: 20px;
}

input {
  	width:88%; 
	color: white;
	font-size: inherit;
	font-family: inherit;
	background-color: orange;
	padding: 0.35em 0.45em;
	border: 5px solid transparent;
	transition: background-color 0.5s ease-in-out;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}

span {
  position: absolute;
  background-color: black;
  transition: transform 0.5s ease;
}

.bottom,
.top {
  height: 2px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left,
.right {
  width: 2px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

input:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.right {
  right: 0;
  transform-origin: top right;
  transition-delay: 0.05s;
}

input:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

.top {
  top: 0;
  transform-origin: top left;
  transition-delay: 0.15s;
}

input:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}

.left {
  left: 0;
  transform-origin: bottom left;
  transition-delay: 0.25s;
}

input:focus ~ .left {
  transform-origin: top left;
  transform: scaleY(1);
}