/*公共布局*/
a,a:hover,a:visited{
	text-decoration: none;
}

li{
	width: 50px;
	list-style: none;
	float: left;
	margin-bottom: 15px;
}

ul{
	padding: 0 10px;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	margin: 0!important;
}

/*媒体查询*/
@media (min-width: 768px){
	#main{
		background-image: url(../img/bg.jpg);
		background-attachment:fixed;
		background-size:cover;
	}
}

#main{
	margin: 0;
}

/*天气*/
#weather-float-he{
	z-index: 1;
}

/*搜索盒子*/
.search-box{
	/*margin-top: 20px;*/
}

#logo{
	margin: 0 auto;
}

#logo div{
	margin: 0 auto;
	width: 300px;
}

#img{
	animation: fade-in;
    animation-duration: 0.2s;
    -webkit-animation:fade-in 0.2s;
	width: 300px;
}

/*标签、导航选择器*/
.Select{
	margin: 20px auto 0;
	color: #00868B;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	width: 50%;
	font-size: 16px;
}

/*搜索框*/
.inputDiv {
	padding: 0;
	z-index: 0;
	animation: fade-in;
    animation-duration: 0.5s;
    -webkit-animation:fade-in 0.5s;
	margin-top: 30px;
	position: relative;
	margin-left: 20px;
	border-radius: 0px;
	margin-right: 20px;
}

input {
    width:85%; 
	color: white;
	font-size: inherit;
	font-family: inherit;
	background-color: #8DB6CD;
	padding: 0.35em 0.45em;
	border: 5px solid transparent;
	border-radius: 0px;
	transition: background-color 0.5s ease-in-out;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}

span {
  position: absolute;
  background-color: #00868B;
  transition: transform 0.5s ease;
}

.bottom,
.top {
  height: 2px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left,
.right {
  width: 2px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

input:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.right {
  right: 0;
  transform-origin: top right;
  transition-delay: 0.05s;
}

input:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

.top {
  top: 0;
  transform-origin: top left;
  transition-delay: 0.15s;
}

input:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}

.left {
  left: 0;
  transform-origin: bottom left;
  transition-delay: 0.25s;
}

input:focus ~ .left {
  transform-origin: top left;
  transform: scaleY(1);
}

/*搜索按键*/
.submitButton{
	border-radius: 0px;
	animation: fade-in;
    animation-duration: 0.5s;
    -webkit-animation:fade-in 0.5s;
	height: 43.6px;
	width: 15%;
	float: right;
	z-index: 1;
	position: relative;
	font-size: inherit;
	font-family: inherit;
	color: white;
	padding: 0;
	outline: none;
	border: none;
	background-color: #00868B;
	overflow: hidden;
	transition: color 0.4s ease-in-out;
}
.submitButton::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.submitButton:hover {
  cursor: pointer;
}

.submitButton:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.Select{
	animation: fade-in;
    animation-duration: 0.7s;
    -webkit-animation:fade-in 0.7s;
}

/*标签*/
.folder{
	animation: fade-in;
    animation-duration: 1s;
    -webkit-animation:fade-in 1s;
	width: 100%;
	margin-top: 10px;
	display: block;
}

.folder-item-box , .folder-item-img{
	width: 50px;
	margin: 0 auto;
}

.folder-item-box p{
	font-size: 12px;
	color: #a5a5a5;
	width: 100%;
	margin: 0;
	text-align: center;
}

/*导航*/
.nav{
	animation: fade-in;
    animation-duration: 1s;
    -webkit-animation:fade-in 1s;
	width: 100%;
	margin-top: 10px;
	display: none;
}

/*侧边栏内容*/
blockquote{
	margin: 0!important;
	font-weight: bold;
	color: black;
}

.sidenav-btn{
	font-size: 14px;
	margin: 2% 4%;
	padding: 6px;
	border-radius: 5px;
	background-color: #E3E3E3;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
	width: 42%;
    transition: 0.3s; /*标签延迟0.3s显示*/
}

.sidenav-btn p{
	margin: 0;
	font-size: 10px;
	text-align: center;
	color: gray;
}

#weather-float-he{
	z-index: 9;
}

/*搜索返回提示词边框*/
.bdSug_wpr{
	box-shadow: #00868B 0px 0px 5px /*rgb(153, 102, 140) 0px 0px 5px*/;
}

/*animation*/
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}
@keyframes fade-in-delay {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    48% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in-delay {/*针对webkit内核*/  
    0% {opacity: 0;}  
    48% {opacity: 0;}  
    100% {opacity: 1;}  
}
