*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #333;
}
 
.bg-div{
	/*bing的背景图*/
	background-image: url(images/bg.jpg);
	width: 1325px;
	height: 630px;
	margin: 0 auto;
}
 
.logo{
	/*bing的logo*/
	background-image: url(images/logo.png);
	width:107px;
	height: 53px;
	float: left;
}
 
form{
	float: left;
	background-color: #fff;
	padding: 5px;
	margin-left: 20px;
}
 
.search-input-text{
	/*消除input的边框*/
	border: 0;
	width: 400px;
	height: 36px;
	line-height: 36px;
	float: left;
	/*去掉文本框点击后显示的高亮效果*/
	outline: none;
}
 
.search-input-button{
	border: 0;
	/*bing的搜索按钮图*/
	background-image: url(images/search.png);
	width: 36px;
	height: 36px;
	float: left;
	cursor: pointer;
}
 
.search-box{
	position: absolute;
	top: 30%;
	left: 25%;
}
 
.suggest{
	width: 446px;
	background-color: #fff;
	border: 1px solid #999;
}
 
.suggest ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
 
.suggest ul li{
	padding: 3px;
	font-size: 14px;
	line-height: 25px;
	cursor: pointer;
	list-style: none;
}
 
.suggest ul li:hover{
	text-decoration: underline;
	background-color: #e5e5e5;
}